.row{
	display:flex; 
	flex-direction:row;
}

.scorecardDisplay {
	// margin-bottom: .25em;
	

	.hole {
		background-color: rgb(39, 142, 251);
		color: rgb(0, 0, 0);
		span {padding: .25em 0;}
	}
	.par {
		background-color: #ccc;
		color: rgb(0, 0, 0);
		span {padding: .25em 0;}
	}
	.score {
        background-color: rgb(159, 63, 63);
		color: rgb(0, 0, 0);
		span {padding: .25em 0;}
	}
	span {
		border: rgba(0,0,0,.5) solid 1px;
		border-width: 0 0 0 1px;
		display: inline-block;
		text-align: center;
		width: 4em;
		
		&:first-child {
			text-align: left;
			padding-left: 1em;
			border-width: 0;
		}
	}
}


@media screen and (min-width: 80em) {
	.scorecardDisplay {
		display: inline-block
	}
}
	